# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Register shared object for loading with library.dynam
useDynLib(hier.part, .registration = TRUE, .fixes = "C_")

# Import all packages listed as Imports or Depends
import(gtools, betareg, MASS)

importFrom("stats", "formula", "glm", "lm", "logLik", "runif", "sd")
importFrom("utils", "menu")
importFrom("betareg", "betareg")
importFrom("MASS", "polr")